<%include ./partials/head.ejs%>
<div class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-2@m uk-align-center uk-margin-top">
    <h4 class="uk-card-title">Log In </h4>
    <form action="/login" method="post" class="uk-form-blank">
        <input class="uk-input uk-margin-top" name="username" placeholder="Username" type="text" >
        <input  class="uk-margin-top uk-input " name="password" placeholder="Password" type="text" >
        <button class="uk-button-large uk-button-primary uk-align-center" >Login </button>
    </form>
</div>
</body>